<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-_name>Archetype Created Web Application</display-_name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <context-param>
    <param-_name>contextConfigLocation</param-_name>
    <param-_value>/WEB-INF/spring/rootContext.xml</param-_value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-_name>appServlet</servlet-_name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-_name>contextConfigLocation</param-_name>
      <param-_value>/WEB-INF/spring/appServlet.xml</param-_value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-_name>appServlet</servlet-_name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>



</web-app>
